@import url('https://code.cdn.mozilla.net/fonts/zilla-slab.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');

#main-outlet {
    max-width: 1320px;
}

.d-header {
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.25);
    border-bottom: 2px solid #f3a633;
    background-color: #484848;
    opacity: 1;
    padding-top: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Zilla Slab", serif;
    font-weight: normal;
}

.login-button {
    font-weight: bold;

    i {
        display: none;
    }
}

.badge-wrapper {
    font-weight: normal;
}

.download-banner {
    display: none;
}

/* Apply underline to links in posts */

.topic-body .contents .cooked,
#reply-control .wmd-controls .d-editor-preview {

    a:not(.mention):not(.mention-group) {

        &, &:active, &:hover, &:visited {
            color: #000;
            text-decoration: underline;
        }
    }
}

/* Hide buggy first notification spotlight */

.ring, .ring-backdrop, .ring-backdrop-spotlight {
  display: none;
}

/* Hide Archives category */

tr[data-category-id="64"] {
    display: none;
}

/* Hide Off-Topic category */

tr[data-category-id="275"] {
    display: none;
}

/* A11y friendly colours */

.user-preferences {
  .instructions {
    color: #595959;
  }
}

.btn {
    display: inline-block;
    margin: 0;
    padding: 6px 12px;
    font-size: 1em;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    transition: all 0.25s;
    box-sizing: border-box;
    min-height: 30px;
    border-radius: 24px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
}

.nav-pills > li {
	> a {
        border-radius: 4px;
        border-top: #8e8c8c 2px solid;
        box-shadow: 0 5px 15px rgba(0,0,0,0.08);
		&.active {
            border-top: #ffa300 2px solid;
            box-shadow: 0 5px 15px rgba(0,0,0,0.08);
            background-color: transparent;
            color: #000;
        }
        
        &:hover {
            border-top: #ffa300 2px solid;
            background-color: transparent;
        }
	}
	&.active > a {
		border-radius: 4px;
        border-top: #ffa300 2px solid;
        box-shadow: 0 5px 15px rgba(0,0,0,0.08);
        background-color: transparent;
        color: #000;
	}
}
.layouts-nav-button > li {
	> a {
		border-radius: 4px;
        border-top: #8e8c8c 2px solid;
        box-shadow: 0 5px 15px rgba(0,0,0,0.08);
		&.active {
            border-top: #ffa300 2px solid;
            box-shadow: 0 5px 15px rgba(0,0,0,0.08);
            background-color: transparent;
            color: #000;
        }
        &:hover {
            border-top: #ffa300 2px solid;
            background-color: transparent;
        }
	}
	&.active > a {
		border-radius: 4px;
        border-top: #ffa300 2px solid;
        box-shadow: 0 5px 15px rgba(0,0,0,0.08);
        background-color: transparent;
        color: #000;
	}
}

.alert {
    border-radius: 4px;
    padding: 1.25rem 2.5rem 1.25rem 1.5rem;
}

.list-controls .combo-box .combo-box-header {
    border-top: #ffa300 2px solid;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    border-left: 1px solid rgba(82,82,82,0.18);
    border-right: 1px solid rgba(82,82,82,0.18);
    border-bottom: 1px solid rgba(82,82,82,0.18);
    border-radius: 5px;
}

.topic-map .buttons .btn {
    box-shadow: none;
    border-radius: 0;
}

.user-menu .notifications .show-all .btn, #reply-control .d-editor-button-bar .btn, .user-preferences .bio-composer .d-editor-button-bar .btn, .group-form-bio .d-editor-button-bar .btn, .edit-category-tab-topic-template .d-editor-button-bar .btn {
    border-radius: 0;
    box-shadow: none;
}

.timeline-container .topic-timeline .timeline-controls button {
    margin-right: 0.5em;
    border-radius: 2px;
}