@import url('https://code.cdn.mozilla.net/fonts/zilla-slab.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');

#main-outlet {
    max-width: 1320px;
}

.d-header {
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.25);
    border-bottom: 2px solid #f3a633;
    background-color: #484848;
    opacity: 1;
    padding-top: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Zilla Slab", serif;
    font-weight: normal;
}

.login-button {
    font-weight: bold;

    i {
        display: none;
    }
}

.badge-wrapper {
    font-weight: normal;
}

.download-banner {
    display: none;
}

/* Apply underline to links in posts */

.topic-body .contents .cooked,
#reply-control .wmd-controls .d-editor-preview {

    a:not(.mention):not(.mention-group) {

        &, &:active, &:hover, &:visited {
            color: #000;
            text-decoration: underline;
        }
    }
}

/* Hide buggy first notification spotlight */

.ring, .ring-backdrop, .ring-backdrop-spotlight {
  display: none;
}

/* Hide Archives category */

tr[data-category-id="64"] {
    display: none;
}

/* Hide Off-Topic category */

tr[data-category-id="275"] {
    display: none;
}

/* A11y friendly colours */

.user-preferences {
  .instructions {
    color: #595959;
  }
}

.bootbox.modal .modal-footer a.btn-primary {
    color: #000;
}

.btn {
    border: none;
    color: $primary;
    font-weight: normal;
    background: #fff;
    border-top: #8e8c8c 2px solid;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    border-radius: 4px;
  
    &[href] {
      color: $primary;
      min-height: unset; // ovverides button defaults
    }
    .discourse-no-touch & {
      // only allow hover on no-touch devices
      &:hover,
      &.btn-hover {
        border-top: #ffa300 2px solid;
        box-shadow: 0 5px 15px rgba(0,0,0,0.08);
        border-radius: 4px;
        background: transparent;
        color: $tertiary;
      }
    }
}

.nav-pills > li {
	> a {
        border-radius: 4px;
        border-top: #8e8c8c 2px solid;
        box-shadow: 0 5px 15px rgba(0,0,0,0.08);
		&.active {
            border-top: #ffa300 2px solid;
            box-shadow: 0 5px 15px rgba(0,0,0,0.08);
            background-color: transparent;
            color: $tertiary;
        }
        
        &:hover {
            border-top: #ffa300 2px solid;
            background-color: transparent;
        }
	}
	&.active > a {
		border-radius: 4px;
        border-top: #ffa300 2px solid;
        box-shadow: 0 5px 15px rgba(0,0,0,0.08);
        background-color: transparent;
        color: $tertiary;
	}
}
.layouts-nav-button > li {
	> a {
		border-radius: 4px;
        border-top: #8e8c8c 2px solid;
        box-shadow: 0 5px 15px rgba(0,0,0,0.08);
		&.active {
            border-top: #ffa300 2px solid;
            box-shadow: 0 5px 15px rgba(0,0,0,0.08);
            background-color: transparent;
            color: $tertiary;
        }
        &:hover {
            border-top: #ffa300 2px solid;
            background-color: transparent;
        }
	}
	&.active > a {
		border-radius: 4px;
        border-top: #ffa300 2px solid;
        box-shadow: 0 5px 15px rgba(0,0,0,0.08);
        background-color: transparent;
        color: $tertiary;
	}
}

.badge-wrapper {
    .bullet {
        border: 1px solid rgba(0,0,0,0.08);
        border-radius: 5px;
    }
}  

.alert {
    border-radius: 4px;
    padding: 1.25rem 2.5rem 1.25rem 1.5rem;
}

.list-controls .combo-box .combo-box-header {
    border-top: #ffa300 2px solid;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 4px;
}

.topic-map .buttons .btn {
    box-shadow: none;
    border-radius: 0;
}

.user-menu .notifications .show-all .btn, #reply-control .d-editor-button-bar .btn, .user-preferences .bio-composer .d-editor-button-bar .btn, .group-form-bio .d-editor-button-bar .btn, .edit-category-tab-topic-template .d-editor-button-bar .btn {
    border-radius: 0;
    box-shadow: none;
}

.timeline-container .topic-timeline .timeline-controls button {
    margin-right: 0.5em;
    border-radius: 2px;
}

.admin-controls {
    .nav-pills {
        &:before {
            display: none;
        }
        > li {
            margin: 5px;
            a {
                background: $secondary;
            }
            &:last-of-type {
            > a {
                margin-right: 25px;
            }
            }
        }
    }
}

.custom-footer {
    background: #484848;

    .third-box .small-link {
        color: #a6a6a6;
        margin: 0 0.25em;
        font-size: .7579em;
        border-radius: 4px;
        border-top: #8e8c8c 2px solid;
        box-shadow: 0 5px 15px rgba(255, 255, 255, 0.12);
        background-color: #fff;
        padding: 5px;

        &:hover {
            border-top: #ffa300 2px solid;
            color: #ffa300;
        }
    }
}

.category-list {
    border-collapse: separate;
    border-spacing: 0 15px;
    
    tr {
        box-shadow: 0 2px 10px rgba(0,0,0,0.08);
    }
}